#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.tile {
  width: 50px;
  height: 50px;
  border: 2px solid #d3d6da;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.tile.filled {
  border-color: #878a8c;
}

.tile.correct {
  background-color: #6aaa64;
  border-color: #6aaa64;
  color: white;
}

.tile.present {
  background-color: #c9b458;
  border-color: #c9b458;
  color: white;
}

.tile.absent {
  background-color: #787c7e;
  border-color: #787c7e;
  color: white;
}

.tile.default {
  border-color: #878a8c;
}

.tile.empty {
  background-color: transparent;
  border: 2px solid #d3d6da;
}